In [1]:
#import libraries
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import cufflinks as cf
import chart_studio.plotly as py
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected = True)
cf.go_offline()

In [2]:
#load dataset

df = pd.read_csv("dataset/NFT_Top_Collections.csv")
df.head(10)

,Index,Name,Volume,Volume_USD,Market_Cap,Market_Cap_USD,Sales,Floor_Price,Floor_Price_USD,Average_Price,Average_Price_USD,Owners,Assets,Owner_Asset_Ratio,Category,Website,Logo
0,0,basis.markets,27256.63,4.001818e+06,708.145455,103969.915600,366,39.50,5799.3900,74.471667,10933.930100,12,16,75.00,"Collectibles,Digital,Privilege",https://basis.markets/,https://content.solsea.io/files/thumbnail/1636...
1,1,Skeleton Crew Skulls,11381.25,1.670995e+06,106.656000,15659.233920,2075,0.67,98.3694,5.484940,805.298855,103,132,78.03,NaN,https://skeletoncrew.rip/,https://content.solsea.io/files/thumbnail/1633...
2,2,Flippies,6732.19,9.884201e+05,1663.863158,244288.388800,1504,0.80,117.4560,4.476190,657.194239,905,1638,55.25,NaN,https://www.flippies.art/,https://content.solsea.io/files/thumbnail/1632...
3,3,Meerkat Millionaires Country Club,3734.76,5.483375e+05,90.275000,13254.175500,395,3.79,556.4478,9.455089,1388.196109,19,23,82.61,NaN,https://meerkatmillionaires.club/,https://content.solsea.io/files/thumbnail/1632...
4,4,Stylish Studs,3191.15,4.685246e+05,165.000000,24225.300000,729,4.30,631.3260,4.377435,642.694984,28,50,56.00,NaN,https://stylishstuds.io,https://content.solsea.io/files/thumbnail/1632...
5,5,I'M AIKO,2904.70,4.264681e+05,2530.877143,371583.382100,1411,1.20,176.1840,2.058611,302.245254,599,1206,49.67,"Art,Collectibles,Graphics,2D,Image",https://aiko.io,https://content.solsea.io/files/thumbnail/1633...
6,6,Crypto Idolz,2315.74,3.399969e+05,1168.041981,171491.923700,1418,0.60,88.0920,1.633103,239.772177,244,529,46.12,NaN,https://cryptoidolz.com/,https://content.solsea.io/files/thumbnail/1632...
7,7,Megalodon Rogue Shark Tooth,2116.61,3.107607e+05,60.050375,8816.596058,5229,0.04,5.8728,0.404783,59.430231,946,1309,72.27,NaN,https://t.co/ra8GsIsSz7?amp=1,https://content.solsea.io/files/thumbnail/1635...
8,8,CorruptCatz,1983.92,2.912791e+05,345.790000,50768.887800,1489,0.10,14.6820,1.332384,195.620641,636,916,69.43,NaN,https://corruptcatz.com,https://content.solsea.io/files/thumbnail/1633...
9,9,Meta Waifus,1844.59,2.708227e+05,989.491267,145277.107800,1156,1.27,186.4614,1.595666,234.275695,376,643,58.48,"3D,PFP,Metaverse,Art,Collectibles",https://metawaifus.com,https://content.solsea.io/files/thumbnail/1637...

In [3]:
# find missing values
df.isnull().sum()

Index                  0
Name                   0
Volume                 0
Volume_USD             0
Market_Cap             0
Market_Cap_USD         0
Sales                  0
Floor_Price           48
Floor_Price_USD       48
Average_Price          0
Average_Price_USD      0
Owners                 0
Assets                 0
Owner_Asset_Ratio     49
Category             282
Website              111
Logo                   1
dtype: int64

In [4]:
#find percentage of missing values
df.isnull().sum()/len(df)*100

Index                 0.000000
Name                  0.000000
Volume                0.000000
Volume_USD            0.000000
Market_Cap            0.000000
Market_Cap_USD        0.000000
Sales                 0.000000
Floor_Price           8.108108
Floor_Price_USD       8.108108
Average_Price         0.000000
Average_Price_USD     0.000000
Owners                0.000000
Assets                0.000000
Owner_Asset_Ratio     8.277027
Category             47.635135
Website              18.750000
Logo                  0.168919
dtype: float64

In [5]:
# quick summary about the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              592 non-null    int64
 1   Name               592 non-null    object
 2   Volume             592 non-null    float64
 3   Volume_USD         592 non-null    float64
 4   Market_Cap         592 non-null    float64
 5   Market_Cap_USD     592 non-null    float64
 6   Sales              592 non-null    int64
 7   Floor_Price        544 non-null    float64
 8   Floor_Price_USD    544 non-null    float64
 9   Average_Price      592 non-null    float64
 10  Average_Price_USD  592 non-null    float64
 11  Owners             592 non-null    int64
 12  Assets             592 non-null    int64
 13  Owner_Asset_Ratio  543 non-null    float64
 14  Category           310 non-null    object
 15  Website            481 non-null    object
 16  Logo               591 non-null    object
dtypes: float64(9), int64(4), object(4)
memory usage: 78.8+ KB

In [6]:
# quick summary about numeric values

df[['Volume', 'Volume_USD',
    'Market_Cap', 'Market_Cap_USD',
    'Sales', 'Floor_Price',
    'Floor_Price_USD', 'Average_Price',
    'Average_Price_USD', 'Owners', 'Assets',
    'Owner_Asset_Ratio']].describe()

,Volume,Volume_USD,Market_Cap,Market_Cap_USD,Sales,Floor_Price,Floor_Price_USD,Average_Price,Average_Price_USD,Owners,Assets,Owner_Asset_Ratio
count,592.000000,5.920000e+02,592.000000,592.000000,592.000000,544.000000,544.000000,592.000000,592.000000,592.000000,592.000000,543.000000
mean,197.548885,2.900413e+04,45.134817,6626.693810,164.491554,2.423015,355.747019,2.373566,348.486991,53.731419,116.694257,54.385672
std,1283.031435,1.883747e+05,179.327166,26328.814578,451.321395,18.982148,2786.959001,15.035229,2207.472329,133.893752,251.598765,27.632770
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.020000,2.936400,0.000000,0.000000,0.000000,0.000000,0.260000
25%,7.300000,1.071786e+03,0.000000,0.000000,11.000000,0.110000,16.150200,0.306029,44.931155,4.000000,10.000000,33.330000
50%,18.595000,2.730118e+03,0.000000,0.000000,35.000000,0.300000,44.046000,0.720412,105.770928,15.000000,38.000000,57.250000
75%,80.825000,1.186673e+04,21.841974,3206.838576,107.250000,1.000000,146.820000,1.596750,234.434771,44.000000,102.250000,72.845000
max,27256.630000,4.001818e+06,2530.877143,371583.382100,5229.000000,400.000000,58728.000000,347.500000,51019.950000,2041.000000,3320.000000,100.000000

In [10]:
# exclude columns (index, website, and logo)

df_new = df[['Name', 'Volume', 'Volume_USD',
    'Market_Cap', 'Market_Cap_USD',
    'Sales', 'Floor_Price',
    'Floor_Price_USD', 'Average_Price',
    'Average_Price_USD', 'Owners', 'Assets',
    'Owner_Asset_Ratio', 'Category']]
df_new

,Name,Volume,Volume_USD,Market_Cap,Market_Cap_USD,Sales,Floor_Price,Floor_Price_USD,Average_Price,Average_Price_USD,Owners,Assets,Owner_Asset_Ratio,Category
0,basis.markets,27256.63,4.001818e+06,708.145455,103969.91560,366,39.50,5799.3900,74.471667,10933.930100,12,16,75.00,"Collectibles,Digital,Privilege"
1,Skeleton Crew Skulls,11381.25,1.670995e+06,106.656000,15659.23392,2075,0.67,98.3694,5.484940,805.298855,103,132,78.03,NaN
2,Flippies,6732.19,9.884201e+05,1663.863158,244288.38880,1504,0.80,117.4560,4.476190,657.194239,905,1638,55.25,NaN
3,Meerkat Millionaires Country Club,3734.76,5.483375e+05,90.275000,13254.17550,395,3.79,556.4478,9.455089,1388.196109,19,23,82.61,NaN
4,Stylish Studs,3191.15,4.685246e+05,165.000000,24225.30000,729,4.30,631.3260,4.377435,642.694984,28,50,56.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,NEO MONKEY BUSINESS,0.00,0.000000e+00,0.000000,0.00000,0,0.59,86.6238,0.000000,0.000000,1,2,50.00,NaN
588,Cops Game,0.00,0.000000e+00,0.000000,0.00000,0,3.99,585.8118,0.000000,0.000000,4,4,100.00,NaN
589,Floppa Syndicate,0.00,0.000000e+00,0.000000,0.00000,0,NaN,NaN,0.000000,0.000000,0,2,NaN,"2D,Art,Digital,Collectibles,Drawing"
590,Duck BRO,0.00,0.000000e+00,0.000000,0.00000,0,0.20,29.3640,0.000000,0.000000,38,56,67.86,"Art,PFP,2D"
591,CryptoPets,0.00,0.000000e+00,0.000000,0.00000,0,1.40,205.5480,0.000000,0.000000,16,23,69.57,NaN